header{
    width: 100%;
    height: 88vh;

    flex-direction: column;
    row-gap: 20px;

    background: url(../../../public/banner-header.jpg);

    border-bottom: 1px solid black;
}

img#logo-header {
    width: 230px;
}

div#conteiner-botoes-header {
    flex-direction: row;
    gap: 20px;
}

div#conteiner-botoes-header button {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--corTextoClaro);

    border-radius: 6px;

    transition: .5s ease-in-out;
    flex-direction: row;
    gap: 10px;

}

div#conteiner-botoes-header button svg {
    width: 0;
    height: 22px;

    opacity: 0;

    transition: .5s ease-in-out;
}

div#conteiner-botoes-header button:hover svg {
    width: 22px;

    opacity: 100;

    animation: pulse 1s infinite;

}

button#botao-conhecer-mais {
    background: var(--corBotaoLaranja);

    border: 1px solid transparent;

}

button#botao-conhecer-mais:hover {
    background: var(--corBotaoLaranjaHover);

}

button#botao-fale-conosco {
    backdrop-filter: blur(5px);
    background: transparent;
    border: 1px solid;
}

button#botao-fale-conosco:hover {
    background: white;
    color: var(--corTextoEscuro);

    border: 1px solid transparent;
}