header {
    width: 100%;
    height: 88vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    background: url(../../../public/banner-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-bottom: 1px solid black;
}

img#logo-header {
    width: 230px;
}

div.conteiner-botoes-header {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

div.conteiner-botoes-header button {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--corTextoClaro);

    border-radius: 6px;

    transition: .5s ease-in-out;

    cursor: pointer;
}

button.botao-conhecer-mais {
    background: var(--corBotaoLaranja);

    border: 1px solid transparent;

}

button.botao-conhecer-mais:hover {
    background: var(--corBotaoLaranjaHover);

}

button.botao-fale-conosco {
    backdrop-filter: blur(5px);
    background: transparent;
    border: 1px solid;

}

button.botao-fale-conosco:hover {
    background: white;
    color: var(--corTextoEscuro);

    border: 1px solid transparent;
}