section#mais-vendidos {
    min-height: 95vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

h2#titulo-mais-vendidos {
    background: var(--degradeTituloLaranjaEscuro);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;

}

div.conteiner-cards-produto {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

div.card-produto {
    height: 470px;
    width: 350px;

    border-radius: 10px;
    box-shadow: -10px 12px 30px -3px rgba(0, 0, 0, 0.76);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

div.conteiner-imagem-produto {
    width: 100%;
    height: 250px;

    box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.86);
}

img.imagem-produto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.conteiner-conteudo-produto {
    padding: 0 30px 30px;

}

div.conteiner-preco-produto {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    height: fit-content;
    width: fit-content;

    
}

div.conteiner-preco-produto span:nth-child(1) {
    color: green;
    font-weight: 900;
    font-size: 1.3rem;
}

div.conteiner-preco-produto span:nth-child(2) {
    color: ccc;
    font-weight: 300;
    font-size: .8rem;
    text-decoration: line-through;
}

/* ! temporario */
body {
    padding-bottom: 50px;
}