section#slider {
    width: 100%;
    height: 95vh;

    position: relative;

    overflow: hidden;

}

div#conteiner-slides {
    height: 100%;

    overflow: hidden;

    flex-direction: row;
    flex-shrink: 0;

    transition: transform 1.5s ease;
}

div#overlay {
    position: absolute;
    top: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    background: var(--degradeOverlaySlider)
}


div.slide {
    height: 100%;
    width: 100vw;

    position: relative;
    z-index: 1;
    /*! ou 100vw*/

    justify-content: baseline;
}

div.slide:nth-child(1) {
    background-image: url(/banner1-slider.jpg);
}

div.slide:nth-child(2) {
    background-image: url(/banner2-slider.jpg);
}

div.slide:nth-child(3) {
    background-image: url(/banner3-slider.jpg);
}

div.slide:nth-child(4) {
    background-image: url(/banner4-slider.jpg);
}


div.conteudo-slide {
    width: 60%;

    align-items: baseline;
    flex-direction: column;
    row-gap: 15px;

    color: var(--corTextoClaro);

    position: absolute;
    left: 170px;
    z-index: 10;
}

h2.titulo-slide {
    font-weight: 1000;
    font-size: 3rem;
    background: var(--degradeTituloLaranjaClaro);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

p.paragrafo-slide {
    font-weight: 600;
    font-size: 2rem;

}

section#slider svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%, -50%);
    z-index: 10;

    width: 50px;
    padding: 15px;

    border-radius: 50%;
    background: #cccccc24;
    backdrop-filter: blur(3px);
    border: 1px solid #cccccc9d;

    transition: .6s ease-in-out;

    cursor: pointer;
}

section#slider svg:hover {
    background: #cccccc56;
}

svg#next {
    right: 20px;
}

svg#previous {
    left: 20px;
}

div#conteiner-indicador-slide {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;
    height: fit-content;

    padding: 6px 10px;


    background: #cccccc41;
    backdrop-filter: blur(1px);
    border-radius: 30px;

    flex-direction: row;
    gap: 10px;
}

div.dot {
    width: 15px;
    height: 15px;

    border-radius: 7px;
    background: #fff;

    transition: .3s ease-in-out;

    cursor: pointer;
}

div.dot:hover {
    transform: scale(1.3);
}

div.dot.dot-ativa {
    width: 35px;
    background: #aaa;

}
