section#sobre {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;

    min-height: 95vh;
    padding: 0 0 50px 0;
    /* font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; */
    color: var(--corTextoEscuro);
}

div#conteiner-texto-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;

    font-size: 1.3rem;
}

div#conteiner-texto-sobre h2 {
    background: var(--degradeTituloLaranjaEscuro);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
}

div#conteiner-texto-sobre p {
    width: 70%;
}

div#conteiner-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

div.card {
    height: 300;
    width: 400px;

    padding: 25px;

    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    background: var(--degradeCardSobre);
    border: 1px solid var(--corPrincipal);
    border-radius: 10px 40px 10px 40px;
    transition: all .7s ease-in-out;

    font-size: 1.3rem;
    color: var(--corTextoEscuro);

    position: relative;
    z-index: 2;
}

div.card:hover {
    transform: translateY(-7px);
    box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.233);
}

div.card h3 {
    transition: 1s ease-in-out;
}

div.card:hover h3 {
    background: var(--degradeTituloLaranjaEscuro);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    transform: scale(1.1);
}

div.card svg {
    width: 30px;

    transition: all .7s ease-in-out;

    stroke: var(--corTextoEscuro);
}

div.card:hover svg {
    transform: rotateZ(360deg) scale(1.4);

    stroke: var(--corPrincipal);

}

img.icone-card {
    position: absolute;
    z-index: 1;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);

    visibility: hidden;
    opacity: 0;

    width: 50px;

    transition: opacity .7s, transform 1.2s;
}

div.card:hover img.icone-card {
    visibility: visible;
    opacity: 100;
    
    animation: pulse 1s infinite;
}


