body {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

section#conteiner-preview-produto {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

img#preview-produto {
    width: 100%;
    height: 100%;
}